<div class="navbar-placeholder"></div>

<div class="form-container-resp">

  <h2 class="form-title"><%= t("forms.edit_password", resource: resource_class.model_name.human) %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>
          <%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %>
        </p>
      <% end %>

      <%= f.input :current_password, label: false, required: true, placeholder: t('placeholders.current_password') %>
      <hr>
      <%= f.input :password, autocomplete: "off", label: false, required: false, placeholder: t('placeholders.new_password') %>
      <%= f.input :password_confirmation, label: false, required: false, placeholder: t('placeholders.password_confirmation') %>
    </div>

    <div class="form-button-container">
      <%= f.button :submit, t(".update"), class: 'primary-button' %>
    </div>

    <div class="form-links-container">
      <p><%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>
    </div>

  <% end %>
</div>

