<%= render "devise/shared/responsive_background" %>

  <h2><%= t(".title", resource: resource_class.model_name.human) %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>
          <%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %>
        </p>
      <% end %>

      <%= f.input :current_password, label: false, required: true %>
      <%= f.input :password, autocomplete: "off", label: false, required: false %>
      <%= f.input :password_confirmation, label: false, required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".update") %>
    </div>
  <% end %>

  <p><%= t(".unhappy") %> <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>

<%= render "devise/shared/closing_divs" %>
