<div class="navbar-placeholder"></div>

<div class="container-resp">

  <h2 class="form-title"><%= t("forms.sign_up_html") %></h2>
  <div class="form-inputs">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <h3> <%= t('forms.about_you') %> </h3>
      <%= f.input :first_name, label: false, autofocus: true, placeholder: t('placeholders.first_name') %>
      <%= f.input :last_name, label: false, placeholder: t('placeholders.last_name') %>
      <%= f.input :username, label: false, placeholder: t('placeholders.username') %>
      <%= f.input :gender, label: false, collection: Nomad.genders.keys[1..2], prompt: "Gender" %>
      <%= f.input :occupation, label: false, placeholder: t('placeholders.occupation') %>
      <%= f.input :email, label: false, required: true, placeholder: t('placeholders.email') %>
      <%= f.input :password, label: false, required: true, placeholder: t('placeholders.password') %>
      <%= f.input :password_confirmation, label: false, required: true, placeholder: t('placeholders.password_confirmation') %>

      <br>
      <%= render 'shared/geolocation-form', f: f %>
    </div>

    <div class="form-button-container">
      <%= f.button :submit, t(".sign_up"), class: 'primary-button' %>
    </div>
  <% end %>

  <% render "devise/shared/links" %>
</div>

<% content_for :after_js do %>
  <% render 'shared/geolocation-script'  %>
<% end %>
