<%= render "devise/shared/responsive_background" %>

  <h2> <%= t('forms.edit_info') %> </h2>

  <%= simple_form_for [@nomad], url: nomad_path, method: :patch do |f| %>
    <%= f.input :first_name, label: false, placeholder: 'Charly' %>
    <%= f.input :last_name, label: false, placeholder: 'MARTIN' %>
    <%= f.input :phone, label: false, placeholder: '+33 646 531 750' %>
    <%= f.input :facebook, label: false, placeholder: 'https://www.facebook.com/charly.mrtn' %>
    <%= f.input :email, label: false, placeholder: 'charly.martin.1207@gmail.com' %>
    <br>
    <%= f.submit t('forms.update'), class: 'devise-submit-btn' %>
  <% end %>

<%= render "devise/shared/closing_divs" %>
