<%= render "devise/shared/responsive_background" %>

  <h2> <%= t('forms.edit_location') %> </h2>

  <%= simple_form_for [@nomad], url: nomad_path, method: :patch do |f| %>
  <%= render "devise/shared/location_form", f: f %>
    <br>
    <%= f.submit t('forms.update'), class: 'devise-submit-btn' %>
  <% end %>

<%= render "devise/shared/closing_divs" %>
