<div class="navbar-placeholder"></div>

<div id="map" style="width: 100%; height: 94vh;"></div>

<div class="nomad-count">
  <h2> <%= t('nomads.index.total_nomads', count: @count) %> </h2>
</div>

<!-- MAPS SCRIPT -->
<% content_for :after_js do %>
  <script>
    // VARIABLES ///////////////////////////////////////////////////////////////
    const nomads = <%= raw @nomads %>;
    const currentNomad = <%= raw @current %>
    const mapContainer = document.querySelector('#map');
    const markerBlue = "<%= raw image_url('markers/nomad-blue.png') %>";
    const markerGreen = "<%= raw image_url('markers/nomad-green.png') %>";

    let isDraggable = $(document).width() > 480 ? 'auto' : 'cooperative';
    let lastClicked = new google.maps.InfoWindow();


    // Map Options
    const mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(currentNomad.latitude, currentNomad.longitude),
      styles: <%= render 'shared/map_style.js' %>,
      scrollwheel: false,
      gestureHandling: isDraggable
    };


    // FUNCTIONS ///////////////////////////////////////////////////////////////
    function createMarkerFor(nomad, map, iconColor) {
      let marker = new google.maps.Marker({
        position: {lat: nomad.latitude, lng: nomad.longitude},
        map: map,
        icon: iconColor,
        id: nomad.id
      });

      toggleIW(nomad, marker);
      return marker;
    };

    function toggleIW(nomad, marker) {
      let infowindow = createIWFor(nomad);
      marker.addListener('click', function() {
        lastClicked.close();
        infowindow.open(map, marker);
        lastClicked = infowindow;
      });
    }

    // function centerMapOn(map, nomad) {
    //   let LatLng = {lat: nomad.latitude, lng: nomad.longitude}
    //   window.setTimeout( function() { map.setCenter(LatLng) }, 200);
    // };

    function createIWFor(nomad) {
      if (nomad.id === currentNomad.id) {
        return new google.maps.InfoWindow({
          content:
          `<div class="iw">` +
            `<h3 class="iw-name"> ${nomad.first_name} </h3>` +
            `<p class="iw-occupation"> ${nomad.occupation} </p>` +
            `<p class="iw-occupation"> This is yourself &#x1F601 </p>` +
          `</div>`
        });
      } else {
        return new google.maps.InfoWindow({
          content:
            `<div class="iw">` +
              `<h3 class="iw-name"> ${nomad.first_name} </h3>` +
              `<p class="iw-occupation"> ${nomad.occupation} </p>` +
              `<a href="mailto:${nomad.email}?subject=&#x1F44B ${nomad.first_name}&body=Hi ${nomad.first_name}, I found you on https://nomadmap.co/nomads &#x1F680" target="_blank"> Email ${nomad.first_name} </a>` +
            `</div>`
        });
      }
    };

    function init() {
      console.log("init map");
      // Creating the map object
      const map = new google.maps.Map(mapContainer, mapOptions);

      // Creating markers and clusters
      const nomadMarkers = nomads.map(nomad => createMarkerFor(nomad, map, markerGreen));
      createMarkerFor(currentNomad,  map, markerBlue);
      new MarkerClusterer(map, nomadMarkers);
    };


    // EVENTS //////////////////////////////////////////////////////////////////
    document.addEventListener('DOMContentLoaded', init);
    // document.addEventListener('click', centerMapOn(map, currentNomad));
  </script>
<% end %>

<!-- https://chrome.google.com/webstore/detail/french-digital-nomads-map/aaokjnbicmobnkgjnmbmffbnldebhgfa -->
