<div class="container padded-top">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>
        <%= link_to new_nomad_path do %>
          <i class="fa fa-plus"></i> Add a nomad
        <% end %>
      </p>

      <% if @nomads.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Address</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <% @nomads.each do |nomad| %>
              <tr data-nomad-id="<%= nomad.id %>">
                <td><%= nomad.full_address %></td>
                <td><%= nomad.first_name %></td>
                <td><%= nomad.last_name %></td>
                <td>
                  <%= link_to nomad_path(nomad), method: :delete, remote: true, data: { confirm: 'Delete nomad?' } do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
