<div id="map" style="width: 100%; height: 82vh;"></div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: false, zoomcontrol: true,
      draggable: true }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>

<div class="nomad-count">
  <%= @nomads.count %>
  NOMADS WORLDWIDE
</div>

<div class="container padded-top">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4 col-xs-12">
        <p>
          <%= link_to new_nomad_path, class: 'btn btn-warning' do %>
            <i class="fa fa-plus"></i> 1. Add yourself on the map!
          <% end %>
        </p>
      </div>
      <div class="col-md-8 col-xs-12">
        <%= link_to 'https://chrome.google.com/webstore/detail/french-digital-nomads-map/aaokjnbicmobnkgjnmbmffbnldebhgfa', class: 'btn btn-primary', target: '_blank' do %>
          <i class="fa fa-chrome" aria-hidden="true"></i> 2. Download the chrome extension to update your location automatically
        <% end %>
      </div>


      <p>

      </p>

      <% if @nomads.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Place</th>
            </tr>
          </thead>
          <tbody>
            <% @nomads.each do |nomad| %>
              <tr data-nomad-id="<%= nomad.id %>">
                <td><%= nomad.full_name %></td>
                <td><%= nomad.city_country %></td>
                <td>
                  <%= link_to edit_nomad_path(nomad) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to nomad_path(nomad), method: :delete, remote: true, data: { confirm: 'Delete nomad?' } do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
