<div class="myfooter">
  <div class="container">

    <div class="row">
      <div class="col-xs-3">
        <p id="footer-brand"> <%= t('footer.brand') %> </p>
        <p id="footer-tagline"> <%= t('footer.tagline') %> </p>
        <span id="copyright"> <%= t('footer.copyright') %> </span>
      </div>

        <div class="col-xs-3">
          <p> Choose language </p>
          <%= image_tag('flags/en.png', id: "dLabel", class: "flag", "data-toggle": "dropdown") %>
          <ul class="dropdown-menu fit-content" aria-labelledby="dLabel">
            <li>
              <%= link_to url_for( locale: :en ) do %>
                <%= image_tag("flags/en.png", class: "flag", id: "en") %>
              <% end %>
            </li>

            <li>
              <%= link_to url_for( locale: :fr ) do %>
                <%= image_tag("flags/fr.png", class: "flag", id: "fr") %>
              <% end %>
            </li>
          </ul>
        </div>

<!--       <div class="col-xs-3">
        <p class="footer-title"> <%= t('footer.contact') %> </p>
      </div>

      <div class="col-xs-3">
        <p class="footer-title"><%= t('footer.social') %></p>
      </div>

      <div class="col-xs-3">
        <p class="footer-title"><%= t('footer.social') %></p>
      </div> -->
    </div>

  </div>
</div>
