<div class="myfooter">
  <div class="container">

    <div class="row">
      <div class="col-xs-3">
        <p id="footer-brand"> <%= t('footer.brand') %> </p>
        <p id="footer-tagline"> <%= t('footer.tagline') %> </p>
        <span id="copyright"> <%= t('footer.copyright') %> </span>
      </div>

<!--       <div class="col-xs-3">
        <p class="footer-title"> <%= t('footer.contact') %> </p>
      </div>

      <div class="col-xs-3">
        <p class="footer-title"><%= t('footer.social') %></p>
      </div>

      <div class="col-xs-3">
        <p class="footer-title"><%= t('footer.social') %></p>
      </div> -->
    </div>

  </div>
</div>
