<div class="navbar navbar-fixed">
    <div class="navbar-container left">
      <%= link_to root_path do %>
        <%= image_tag 'logo2.png', id: 'logo' %>
      <% end %>
    </div>

    <div class="navbar-container center">
      <p> <%= link_to 'nomadmap', root_path, id: 'brand' %> </p>
    </div>

    <div class="navbar-container right">
      <%= link_to root_path do %>
        <%= image_tag 'avatar.png', id: 'avatar' %>
      <% end %>
    </div>
</div>
