<div class="mynavbar mynavbar-fixed">
  <div class="navbar-container" id="brand-container">
      <span> <%= link_to 'nomadmap', root_path, id: 'brand-nabar' %> </span>
  </div>

  <div class="navbar-container">
    <%= link_to 'Map', nomads_path %>
    <%= link_to 'Misson', mission_path %>
    <%= link_to 'About', about_path %>
  </div>


  <% if !!current_nomad %>

<!-- IF CURRENT NOMAD -->
    <div class="navbar-container" id="avatar-container">
      <%= render 'shared/lang-dropdown' %>
      <%= image_tag 'avatar.png', id: 'avatar-home', class: 'pointer' %>
    </div>

    <div class="navbar-container pos-relative">
      <div class="devise-container pos-absolute">
        <%= link_to 'Map', nomads_path %>
        <%= link_to t('navbar.edit_info'), edit_info_path(current_nomad) %>
        <%= link_to t('navbar.edit_location'), edit_location_path(current_nomad) %>
        <%= link_to t('navbar.change_password'), edit_nomad_registration_path %>
        <%= link_to t('navbar.logout'), destroy_nomad_session_path, method: :delete %>
      </div>
    </div>

  <% else %>
<!-- IF NOT -->
    <div class="navbar-container">
      <%= render 'shared/lang-dropdown' %>
      <%= link_to t('navbar.sign_in'), new_nomad_session_path %>
    </div>

  <% end %>

</div>


<script>
  // 1
  const locale = "<%= I18n.locale %>";
  const trigger = document.querySelector('img#dLabel');
  const flags = document.querySelectorAll('img.flag');

  // 2
  function flag() {
    // change flag according to lang
  };

  // 3
  document.addEventListener('DOMContentLoaded', flag);

</script>
