<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 no-padding">
      <div class="landing-banner" style="background-image: linear-gradient(-225deg, rgba(81, 187, 254, 0.5) 0%, rgba(117, 119, 97, 0.5) 50%), url(<%= asset_path "landing" + rand(1..6).to_s + ".jpeg" %>);">

        <div class="navbar-placeholder"></div>

        <div class="tagline-container">
          <h1 id="tagline"> <%= t('pages.home.tagline') %> </h1>
          <p id="typed-js">There's Charly in Thailand</p>
        </div>

        <div class="location-form">
          <%= simple_form_for :location, url: :nomad_around, method: :get do |f| %>
            <%= f.input :location, label: false, placeholder: t('pages.home.form_placeholder') %>
            <%= f.button :submit, t('pages.home.form_submit') %>
          <% end %>
        </div>

        <div class="scroll-down-container">
          <p class="pointer"> <%= t('pages.home.scroll_down') %> </p>
          <i class="fa fa-angle-down pointer" aria-hidden="true"></i>
        </div>


      </div>
    </div>
  </div>
</div>
