<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 no-padding">
      <div class="landing-banner" style="background-image: linear-gradient(-225deg, rgba(143, 247, 167, 0.85) 50%, rgba(143, 247, 167, 0.85) 50%), url(<%= asset_path "landing.jpg" %>);">

        <div class="brand-container">
          <h2 id="brand-home"> <%= t('pages.home.brand') %> </h2>
          <h1 id="tagline"> <%= t('pages.home.tagline') %> </h1>
        </div>

        <div class="cta-container">
          <span id="cta"> <%= t('pages.home.cta') %> </span>
        </div>

        <div class="scroll-down-container">
          <p class="scroll-down pointer"> <%= t('pages.home.scroll_down') %> </p>
          <i class="fa fa-angle-down pointer" aria-hidden="true"></i>
        </div>


      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 no-padding">
        <div class="form-container">

          <div class="location-form" id="here">
            <%= simple_form_for :location, url: :nomads_around, method: :get do |f| %>
              <%= f.input :location, label: false, placeholder: t('pages.home.form_placeholder') %>
              <%= f.button :submit, t('pages.home.form_submit') %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
