<div class="banner-home pos-relative">
  <div class="container-resp flex horizontal-centered">
    <h1 id="headline"> <%= t('pages.home.headline') %> </h1>
    <h2 id="caption" class="hidden-xs"> <%= t('pages.home.caption') %> </h2>
    <span class="primary-button" id="cta"> <%= t('pages.home.cta') %> </span>
  </div>

  <div class="scroll-down-container pos-absolute flex horizontal-centered">
    <span class="scroll-down pointer"> <%= t('pages.home.scroll_down') %> </span>
    <i class="fa fa-angle-down pointer" aria-hidden="true" id="sign-up"></i>
  </div>
</div>

<!-- VIEW 2 -->
<div class="wrapper-green">
  <div class="container-resp">

    <div class="typed-js-container flex vertical-centered">
      <p> There is <span class="typed-js-element"></span></p>
    </div>

    <div class="form-container-home">
      <%= simple_form_for :location, url: :nomads_around, method: :get do |f| %>
        <div class="inputs-container-home flex vertical-centered">
          <%= f.input :location, label: false, placeholder: t('pages.home.form_placeholder'), class: 'form-input' %>
          <%= f.button :submit, t('pages.home.form_submit'), class: 'form-input' %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<!-- SCRIPT TYPED JS -->
<%= content_for :after_js do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
  <script>
    $(function(){
      $(".typed-js-element").typed({
        strings: (<%= raw @typed_js %>),
        typeSpeed: 40,
        backSpeed: 20,
        backDelay: 2000,
        loop: true,
        showCursor: false,
        contentType: 'html'
      });
    });
  </script>
<% end %>
