<div class="iw">
  <img src="<%= image_url('avatar') %>" alt="<%= nomad.first_name %>">
  <h3 class="iw-name"> <%= nomad.first_name %> </h3>
  <a href="<%= nomad_url(nomad) %>"> Message <%= nomad.first_name %> </a>
</div>
