<%= render "devise/shared/responsive_background" %>

  <h2><%= t(".sign_in") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, label: false, autofocus: true, placeholder: t('placeholders.email') %>
      <%= f.input :password, required: false, label: false, placeholder: t('placeholders.password') %>
      <%= f.input :remember_me, id: 'no-box-shadow', as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".sign_in"), class: 'devise-submit-btn' %>
    </div>
  <% end %>

  <div class="form-links">
    <%= render "devise/shared/links" %>
  </div>

  <br>
  <br>
  <br>
  <br>

<%= render "devise/shared/closing_divs" %>
