<div class="navbar-placeholder"></div>

<div class="form-container-resp">

  <h2 class="form-title"><%= t("forms.sign_in_html") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: false, label: false, autofocus: true, placeholder: t('placeholders.email') %>
      <%= f.input :password, required: false, label: false, placeholder: t('placeholders.password') %>
      <%= f.input :remember_me, id: 'no-box-shadow', as: :boolean if devise_mapping.rememberable? %>
    </div>

    <br>
    <br>

    <div class="form-button-container">
      <%= f.button :submit, t(".sign_in"), class: 'primary-button' %>
    </div>

  <% end %>

  <% render "devise/shared/links" %>

</div>
